:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.year-2024 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 719px;
  top: -115px;
  left: 65px;
  color: #ece400;
  font-family: Inria Serif, var(--default-font-family);
  font-size: 600px;
  font-weight: 700;
  line-height: 719px;
  text-align: left;
  white-space: nowrap;
}
.empty {
  position: absolute;
  width: 1249px;
  height: 1280px;
  top: -80px;
  left: 49px;
  background: url(./assets/images/e594d1f7a1dd88bd9eff4ff88fcb05729dcd02c2.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
  color: green;
}
.rectangle {
  position: absolute;
  width: 345px;
  height: 476px;
  top: 295px;
  left: 502px;
  background: url(./assets/images/0d9c526f-2429-4d9d-9441-c28160e73d74.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.rectangle-1 {
  position: absolute;
  width: 252px;
  height: 558px;
  top: 295px;
  left: 910px;
  background: url(./assets/images/1f51adf2-d931-4e18-8a56-aa8ce45128aa.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.rectangle-one {
  position: absolute;
  width: 252px;
  height: 558px;
  top: 295px;
  left: 163px;
  background: url(./assets/images/42520f54-45fc-4a18-ac6b-33f33e9e85f2.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.rectangle-two {
  position: absolute;
  width: 252px;
  height: 558px;
  top: 450px;
  left: 895px;
  background: url(./assets/images/044d28c0-7f4b-41bc-8912-cffb5e0206f3.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.rectangle-three {
  position: absolute;
  width: 252px;
  height: 558px;
  top: 450px;
  left: 180px;
  background: url(./assets/images/2c6f03db-26e4-4851-a1e3-ba39fb3dad27.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
.rectangle-four {
  position: absolute;
  width: 345px;
  height: 476px;
  top: 574px;
  left: 502px;
  background: url(./assets/images/b094b216-7e19-4d35-93b4-0a9f008c1270.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
}
