:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  padding: 0;
  font-family: var(--default-font-family);
  overflow: hidden;
}

.main-container {
  position: relative;
  width: 100vw; /* Take full width of the viewport */
  height: 100vh; /* Take full height of the viewport */
  background: #ffffff;
  overflow: hidden;
  margin: 0 auto;
  
}
.name{
  color: red;
}
.empty {
  position: absolute;
  width: 1200px;
  height: 1100px;
  top: -200px;
  left:10%;;
  transform: translateX(50%);
  background: url(./assets/images/e594d1f7a1dd88bd9eff4ff88fcb05729dcd02c2.png)
    no-repeat center;
  background-size: cover;
  z-index:1;
}

.empty-1 {
  padding:10px;
  position: absolute;
  width: 600px;
  height: 700px;
  top: 30px;
  left: 55%;
  transform: translateX(0%);
  background: url(./assets/images/cfa8588fd55943272fe57e0c190029afe2d937fc.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}

.candidate-name {
  position: absolute;
  width: 845px;
  height: 303px;
  top: 30px;
  left: 56px;
  font-family: "Josefin Sans", var(--default-font-family);
  font-size: 125px;
  font-weight: 700;
  line-height: 140px;
  text-align: left;
  z-index: 5;
}

.rectangle,
.rectangle-3,
.lorem-ipsum,
.rectangle-8,
.rectangle-9,
.rectangle-a,
.rectangle-b,
.rectangle-c {
  position: absolute;
}

.rectangle {
  width: 264px;
  height: 65px;
  top: 280px;
  left: 73px;
  background: #0c51ac;
  z-index: 6;
  border-radius: 15px;
}

.rectangle-3 {
  width: 64px;
  height: 65px;
  top: 280px;
  left: 354px;
  background: #b70909;
  z-index: 9;
  border-radius: 15px;
}

.lorem-ipsum {
  width: 700px;
  height: 192px;
  top: 350px;
  left: 73px;
  font-family: "Josefin Sans", var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 10;
}

.rectangle-8 {
  width: 1100px;
  height: 347px;
  top: 550px;
  left: 0;
  background: #f2c900;
  z-index: 2;
}

.rectangle-9 {
  width: 250px;
  height: 150px;
  top: 25px;
  left: 50px;
  background: #ffffff;
  z-index: 7;
  border-radius: 15px;
}

.rectangle-a {
  width: 250px;
  height: 150px;
  top: 25px;
  left: 350px;
  background: #ffffff;
  z-index: 8;
  border-radius: 15px;
}

.rectangle-b {
  width: 250px;
  height: 150px;
  top: 25px;
  left: 650px;
  background: #ffffff;
  opacity: 0.61;
  z-index: 2;
  border-radius: 15px;
}


